.menu
{
	text-align: center;
	font-family:Arial;
}

.extinção
{
	text-align: center;
	font-family:Arial;
}

.classificaçao
{	
	text-align: center;
	font-family:Arial;
}

.animais
{
	text-align: center;
	font-family:Arial;
}

.araras
{
	text-align: center;
	font-family:Arial;
}

.ararafoto
{
	width: 800px; 
	height: 750px;
}

.tdarara
{
	width: 30%;
    display: table-cell;  
    height:75px;
    vertical-align:super;
}

.onca
{
	text-align: center;
	font-family:Arial;
}

.oncafoto
{
	width: 800px; 
	height: 750px;
}

.tdonca
{
	width: 30%;
    display: table-cell;  
    height:75px;
    vertical-align:super;
}

.baleia
{	
	text-align: center;
	font-family:Arial; 
}

.baleiafoto
{
	width: 800px; 
	height: 750px;
}

.tdbaleia
{
	width: 30%;
    display: table-cell;  
    height:75px;
    vertical-align:super;
}

.lobo
{	
	text-align: center;
	font-family:Arial;  
}

.lobofoto
{
	width: 800px; 
	height: 750px;
}

.tdlobo
{
	width: 30%;
    display: table-cell;  
    height:75px;
    vertical-align:super;
}

.peixe
{
	text-align: center;
	font-family:Arial;
}

.peixefoto
{
	width: 800px; 
	height: 750px;
}

.tdpeixe
{
	width: 30%;
    display: table-cell;  
    height:75px;
    vertical-align:super;
}

.por_que
{
	text-align: center;
	font-family:Arial;
}

.nossa_missao
{	
	text-align: center;
	font-family:Arial;
}

.visao
{	
	text-align: center;
	font-family:Arial;
}

.extincao
{	
	text-align: center;
	font-family:Arial;
}

.existem
{	
	text-align: center;
	font-family:Arial;
}

.instituto
{	
	text-align: center;
	font-family:Arial;
}

.projeto
{	
	text-align: center;
 	font-family:Arial;
}

.IUCN
{	
	text-align: center;
	font-family:Arial;
}

.APS
{	
	text-align: center;
	font-family:Arial;
}

